<ul class="list-group">
    <% user.items.each do |item| %>
       <li class="list-group-item", id="item-<%= item.id %>">
	 <% if @user == current_user %>
           <span id="check-mark">
             <%= link_to "", user_item_path(@user, item), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
	   </span>
         <% end %>
           <span><%= item.name %></span>
         <div>
            <span>
		<small id="item-created">added <%= local_time_ago(item.created_at) %></small>
            </span>
    
            <span class="label label-primary label-as-badge pull-right", style="font-size: 12px">
                <%= distance_of_time_in_words(local_time(Time.now), item.created_at + 7.days) %> left
            </span>
         </div>
      </li>
    <% end %>
</ul>
