<!DOCTYPE html>
<html>
 <head>
    <title>Blocitoff: The Self-Destructing To-Do List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body>
   <div class="container">
     <ul class="nav nav-tabs" >
      <li><%= link_to "Home", root_path %></li>

      <% if user_signed_in? %>
        <div>
          <li class="pull-right">Signed in as: <strong><%= link_to current_user.email, user_path(current_user) %></strong></li><br>
          <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <div><li class="pull-right">|</li></div>
          <li class="pull-right"><%= link_to "Edit Profile", edit_user_registration_path %></li>
        </div>
      <% else %>
         <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
         <li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>

    <div class="flash"></div>

    <%= yield %>
   </div>

  </body>
</html>
